.seowriting-h1 {
    display: inline-block;
}
.seowriting-desc {
    font-size: 12px;
    font-weight: normal;
    color: #7a919e;
    margin: 10px 0;
    line-height: 1.7;
}
.seowriting-desc+.seowriting-desc {
    margin-top: -5px
}
.seowriting-wrap {
    --balloon-color: rgba(16, 16, 16, 0.95);
    --balloon-font-size: 12px;
    --balloon-move: 4px;
}
.seowriting-wrap .nav-tab-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
}
.seowriting-wrap .nav-tab-active {
    background: #fff;
    border-bottom-color: #fff;
}
.seowriting-body {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    padding: 1px 20px 20px 20px;
}
.conection-blok {
    padding: 10px;
    background: #f0f0f1;
    margin: 15px 0;
}
.conection-message{
    color: red;
}
.connected .conection-message{
    color: #25a32a;
}
#seowriting_conection_button{
    display: inline-block;
    padding: 2px 40px;
    font-size: 18px;
}

.seowriting-table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}
.seowriting-table tbody>tr>th {
    padding-left: 20px;
}
.seowriting-table tbody th {
    vertical-align: top;
    text-align: left;
    padding: 18px 10px 20px 0;
    width: 200px;
    font-weight: 600;
}
.seowriting-table td {
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}
.seowriting-table select,
.seowriting-table input {
    max-width: 25rem;
    width:100%;
}

.mb-1 {
    margin-bottom: 1em;
}

.mt-1 {
    margin-top: 1em;
}